<% page_title = t('.users_of_site', site: t('sitename')) %>
<% content_for :page_title, page_title %>

<div class="albumTitle">
  <h1><%= t('.users_of_site_are', count: @users.size, site: t('sitename')) %></h1>
</div>
<%= render 'messages' %>

<div class="usersHolder">
  <% @users.each_with_index do |user, i| %>
    <div class="usrHolder bm rm">
      <%= link_to image_tag(user.avatar, border: 0), user_path(user), title: user.username, class: "userLink" %>
    </div>
  <% end %>
  <div class="clear"></div>
</div>
