.row .albumHolder .objHolder {
  width: 170px;
  float: left;
  position: relative;
}

.row .albumHolder .objHolder a.albumLink {
  display: inline-block;
  outline: none;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 4px;
  position: relative;
}

.row .albumHolder .objHolder a.albumLink:hover {
  background: #FFFFFF;
  border: 1px solid #000000;
}