@import "comments";

.row .photoHolder .objHolder {
  width: 170px;
  float: left;
  position: relative;
}

.row .photoHolder .objHolder a.photoLink {
  display: inline-block;
  outline: none;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 4px;
  position: relative;
}

.row .photoHolder .objHolder a.photoLink:hover {
  background: #FFFFFF;
  border: 1px solid #000000;
}

.row .albumDesc p {
  margin: 5px 0;
}

.previewHolder .photoLinks {
  float: left;
  display: block;
  width: 720px;
  padding-bottom: 20px;
}

.previewHolder .photoLinks .nextPhoto {
  float: right;
}

.previewHolder .previewInfo {
  float: left;
  display: block;
  width: 100%;
}