body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    text-decoration: none;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.error_explanation {
  width: 450px;
  border: 2px solid #ccc;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #F7ADAD;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    color: #000;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.message_explanation {
  width: 450px;
  border: 2px solid #ccc;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #A3F7D0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    color: #000;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.rm {
  margin-right: 20px;
}

.bm {
  margin-bottom: 20px;
}

.clear {
    clear: both;
}

.wrapper {
  width: 100%;
  background: #E8E8E8 url('/assets/bg.gif') repeat-y top center;
}

/* Navigation */
.topHolder, .bottomHolder {
  background: #F8F8F8 url('/assets/topbg.gif') repeat-x 0 0;
  height: 33px;
}

.topHolder .topNavigation, .bottomHolder .bottomNavigation {
  width: 980px;
  margin: 0 auto;
}

.topHolder .topNavigation .nav, .bottomHolder .bottomNavigation .nav {
  float: left;
  height: 33px;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.topHolder .topNavigation .nav li, .bottomHolder .bottomNavigation .nav li {
  float: left;
  display: block;
  line-height: 33px;
  list-style-type: none;
}

.topHolder .topNavigation .nav li a, .bottomHolder .bottomNavigation .nav li a {
  color: #B3B3B3;
  padding: 0 7px 0 6px;
  text-decoration: none;
}

.topHolder .topNavigation .nav li a:hover, .bottomHolder .bottomNavigation .nav li a {
  color: #FFFFFF;
}

.topHolder .topNavigation .nav a.topLogo {
  background: transparent url('/assets/photoLogo.png') no-repeat 0 0;
  width: 77px;
  height: 33px;
  display: block;
  padding: 0 10px;
}

.topHolder .topNavigation .nav a.topLogo:hover {
  background-position: 0 -38px;
}

.topHolder .topNavigation p, .bottomHolder .bottomNavigation p {
  color: #B3B3B3;
  font-size: 11px;
  line-height: 33px;
}

.row {
  width: 940px;
  min-height: 560px;
  margin: 0 auto;
  padding: 10px 0 0 0;
  display: block;
  clear: both;
}

/* Title */
.row .albumTitle {
  width: 100%;
}

.row .albumTitle h1.home {
  margin-top: 0;
  line-height: 62px;
  background: transparent url('/assets/logohome.png') no-repeat 0 0;
}

.row .albumTitle span {
  margin-left: 100px;
}

.row .albumTitle .albumLinks {
  padding: 0 0 20px;
}

.row .albumTitle .albumLinks a {
  color: #597A9B;
  text-decoration: none;
}

/* Users */
.row .usersHolder .usrHolder {
  width: 110px;
  float: left;
  position: relative;
}

.row .usersHolder .usrHolder a.userLink {
  display: inline-block;
  outline: none;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 4px;
  position: relative;
}

.row .usersHolder .usrHolder a.userLink:hover {
  background: #FFFFFF;
  border: 1px solid #000000;
}

/* Photos */
.row .photoHolder .objHolder {
  width: 170px;
  float: left;
  position: relative;
}

.row .photoHolder .objHolder a.photoLink {
  display: inline-block;
  outline: none;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 4px;
  position: relative;
}

.row .photoHolder .objHolder a.photoLink:hover {
  background: #FFFFFF;
  border: 1px solid #000000;
}

.row .albumDesc p {
  margin: 5px 0;
}

/* Single Photo */
.previewHolder .photoLinks {
  float: left;
  display: block;
  width: 720px;
  padding-bottom: 20px;
}

.previewHolder .photoLinks .nextPhoto {
  float: right;
}

.previewHolder .previewInfo {
  float: left;
  display: block;
  width: 100%;
}

/* Comments */
.commentsHolder {
  margin-bottom: 15px;
}

.commentsHolder .objHolder {
  padding-bottom: 15px;
  background: transparent url('/assets/dots.gif') repeat-x left bottom;
}

.commentsHolder .objHolder img {
  float: left;
  margin-right: 15px;
}

.commentsHolder .objHolder .commentDate a {
  margin-top: 20px;
  font-size: 10px;
  color: #CCC;
  text-decoration: none;
}

.commentsHolder .objHolder a.commentEdit {
  margin-right: 10px;
}



