.row .usersHolder .usrHolder {
  width: 110px;
  float: left;
  position: relative;
}

.row .usersHolder .usrHolder a.userLink {
  display: inline-block;
  outline: none;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 4px;
  position: relative;
}

.row .usersHolder .usrHolder a.userLink:hover {
  background: #FFFFFF;
  border: 1px solid #000000;
}